{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Books{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('book.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for book in books %}
    <article class="book">
      <header>
        <div>
          <h1>{{ book['title'] }}</h1>
          <div class="about">
            by {{ book['author_name'] }} - {{ book['publication_year'] }}
          </div>
        </div>
        {% if g.user %}
          <a class="action" href="{{ url_for('book.update', id=book['book_id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="details">
        ISBN: {{ book['isbn'] }}<br>
        Price: ${{ book['price'] }}<br>
        Stock Quantity: {{ book['stock_quantity'] }}
      </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}