{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ book['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or book['title'] }}" required>

    <label for="isbn">ISBN</label>
    <input name="isbn" id="isbn"
      value="{{ request.form['isbn'] or book['isbn'] }}" required>

    <label for="publication_year">Publication Year</label>
    <input name="publication_year" id="publication_year"
      value="{{ request.form['publication_year'] or book['publication_year'] }}" required>

    <label for="author_id">Author</label>
    <select name="author_id" id="author_id" required>
      {% for author in authors %}
        <option value="{{ author['author_id'] }}" {% if author['author_id'] == book['author_id'] %}selected{% endif %}>{{ author['author_name'] }}</option>
      {% endfor %}
    </select>

    <label for="genre_id">Genre</label>
    <select name="genre_id" id="genre_id" required>
      {% for genre in genres %}
        <option value="{{ genre['genre_id'] }}" {% if genre['genre_id'] == book['genre_id'] %}selected{% endif %}>{{ genre['genre_name'] }}</option>
      {% endfor %}
    </select>

    <label for="publisher_id">Publisher</label>
    <select name="publisher_id" id="publisher_id" required>
      {% for publisher in publishers %}
        <option value="{{ publisher['publisher_id'] }}" {% if publisher['publisher_id'] == book['publisher_id'] %}selected{% endif %}>{{ publisher['publisher_name'] }}</option>
      {% endfor %}
    </select>

    <label for="price">Price</label>
    <input name="price" id="price"
      value="{{ request.form['price'] or book['price'] }}" required>

    <label for="stock_quantity">Stock Quantity</label>
    <input name="stock_quantity" id="stock_quantity"
      value="{{ request.form['stock_quantity'] or book['stock_quantity'] }}" required>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('book.delete', id=book['book_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}